@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: black;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slick-dots li.slick-active button:before {
  color: white !important;
}

.slick-dots button:before {
  color: white !important;
}
.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.splash{
  background-image: url("/public/DominiqueStar.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ff7373;
}



/* vhs css */
.name {
       padding: 1em;
       color: #1c1d19;

       line-height: 1;
       text-shadow: 0.03rem 0 0.03rem #ea36af, -0.050rem 0 0.03rem #75fa69;
       letter-spacing: 0.125em;
}


@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}